<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>back_ballon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,775},{172,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,225}}</string>
				<key>sourceSize</key>
				<string>{172,225}</string>
			</dict>

			<key>back_ballon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,531},{76,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,100}}</string>
				<key>sourceSize</key>
				<string>{76,100}</string>
			</dict>

			<key>back_cloud1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,705},{271,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,81}}</string>
				<key>sourceSize</key>
				<string>{271,81}</string>
			</dict>

			<key>back_cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,878},{252,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,69}}</string>
				<key>sourceSize</key>
				<string>{252,69}</string>
			</dict>

			<key>back_cloud3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{316,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{316,91}}</string>
				<key>sourceSize</key>
				<string>{316,91}</string>
			</dict>

			<key>back_cloud4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,878},{256,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,98}}</string>
				<key>sourceSize</key>
				<string>{256,98}</string>
			</dict>

			<key>back_cloud5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,787},{257,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,90}}</string>
				<key>sourceSize</key>
				<string>{257,90}</string>
			</dict>

			<key>back_cloud6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{352,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,131}}</string>
				<key>sourceSize</key>
				<string>{352,131}</string>
			</dict>

			<key>back_earth.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,481},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>

			<key>back_moon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,541},{96,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,90}}</string>
				<key>sourceSize</key>
				<string>{96,90}</string>
			</dict>

			<key>back_planet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,787},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>back_planet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,705},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,34}}</string>
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>

			<key>back_planet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,965},{88,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,45}}</string>
				<key>sourceSize</key>
				<string>{88,45}</string>
			</dict>

			<key>back_sky.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,0},{320,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,530}}</string>
				<key>sourceSize</key>
				<string>{320,530}</string>
			</dict>

			<key>back_space.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,0},{320,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,540}}</string>
				<key>sourceSize</key>
				<string>{320,540}</string>
			</dict>

			<key>back_sun.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,613},{217,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,212}}</string>
				<key>sourceSize</key>
				<string>{217,212}</string>
			</dict>

			<key>elements_balcon-blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,869},{66,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,72}}</string>
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>

			<key>elements_balcon-green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,942},{65,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,72}}</string>
				<key>sourceSize</key>
				<string>{65,72}</string>
			</dict>

			<key>elements_balcon-oragne.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,869},{66,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,71}}</string>
				<key>sourceSize</key>
				<string>{66,71}</string>
			</dict>

			<key>elements_door-blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,941},{66,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,71}}</string>
				<key>sourceSize</key>
				<string>{66,71}</string>
			</dict>

			<key>elements_door-green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,797},{66,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,71}}</string>
				<key>sourceSize</key>
				<string>{66,71}</string>
			</dict>

			<key>elements_door-orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,71}}</string>
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>

			<key>elements_grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,977},{156,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,41}}</string>
				<key>sourceSize</key>
				<string>{156,41}</string>
			</dict>

			<key>elements_hat.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,948},{37,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,28}}</string>
				<key>sourceSize</key>
				<string>{37,28}</string>
			</dict>

			<key>elements_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,79},{68,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,30}}</string>
				<key>sourceSize</key>
				<string>{68,30}</string>
			</dict>

			<key>elements_top-blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,714},{83,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,82}}</string>
				<key>sourceSize</key>
				<string>{83,82}</string>
			</dict>

			<key>elements_top-green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,632},{84,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,81}}</string>
				<key>sourceSize</key>
				<string>{84,81}</string>
			</dict>

			<key>elements_top-orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,632},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,81}}</string>
				<key>sourceSize</key>
				<string>{83,81}</string>
			</dict>

			<key>elements_window.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,797},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,71}}</string>
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>

			<key>menu_button-high-scores.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,541},{209,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,77}}</string>
				<key>sourceSize</key>
				<string>{209,77}</string>
			</dict>

			<key>menu_button-how-to-play.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,619},{209,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,77}}</string>
				<key>sourceSize</key>
				<string>{209,77}</string>
			</dict>

			<key>menu_button-play.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,697},{209,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,77}}</string>
				<key>sourceSize</key>
				<string>{209,77}</string>
			</dict>

			<key>menu_button-resume.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,0},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,78}}</string>
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>

			<key>menu_cup-big.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,714},{100,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,123}}</string>
				<key>sourceSize</key>
				<string>{100,123}</string>
			</dict>

			<key>menu_cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,965},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,58}}</string>
				<key>sourceSize</key>
				<string>{48,58}</string>
			</dict>

			<key>menu_exit-arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,866},{21,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,10}}</string>
				<key>sourceSize</key>
				<string>{21,10}</string>
			</dict>

			<key>menu_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,769},{20,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,23}}</string>
				<key>sourceSize</key>
				<string>{20,23}</string>
			</dict>

			<key>menu_label-fast-floors.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,79},{118,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,37}}</string>
				<key>sourceSize</key>
				<string>{118,37}</string>
			</dict>

			<key>menu_label-game-points.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,962},{129,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,37}}</string>
				<key>sourceSize</key>
				<string>{129,37}</string>
			</dict>

			<key>menu_label-game-time.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,826},{118,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,37}}</string>
				<key>sourceSize</key>
				<string>{118,37}</string>
			</dict>

			<key>menu_label-perfect-drops.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,977},{140,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,39}}</string>
				<key>sourceSize</key>
				<string>{140,39}</string>
			</dict>

			<key>menu_label-reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,965},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,34}}</string>
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>

			<key>menu_label-tower-height.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,826},{137,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,39}}</string>
				<key>sourceSize</key>
				<string>{137,39}</string>
			</dict>

			<key>menu_lock-big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,775},{100,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,118}}</string>
				<key>sourceSize</key>
				<string>{100,118}</string>
			</dict>

			<key>menu_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,714},{52,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,60}}</string>
				<key>sourceSize</key>
				<string>{52,60}</string>
			</dict>

			<key>menu_medal-bronze-big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,894},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>menu_medal-bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,72},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>menu_medal-gold-big.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,613},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>menu_medal-gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,79},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>menu_medal-silver-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,864},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>menu_medal-silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,962},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>menu_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,740},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>menu_screen-high-scores.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,132},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>

			<key>menu_screen-how-to-play.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,0},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>

			<key>menu_screen-title.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,132},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>